*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

#isrun {
  height: 0em;

  padding: 0px;
}

.wapper {

  
  background: rgb(2, 1, 41);
  background: radial-gradient(
    circle,
    rgba(2, 1, 41, 1) 0%,
    rgba(184, 204, 219, 1) 11%,
    rgba(120, 120, 120, 1) 42%,
    rgba(21, 21, 98, 1) 97%
  );
}
.introbutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  width: 190px;
  background-color: burlywood;
  border-radius: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.introbutton:hover {
  background-color: rgb(236, 74, 114);
  color: white;
}

#myTable {
  width: 100%;
  height: 11em;
  margin: 0px auto;

  animation: blink 10s infinite;
  -webkit-animation: blink 10s infinite;
}
@keyframes blink {
  0% {
    background: rgb(122, 107, 122);
  }
  25% {
    background: rgb(162, 130, 238);
  }
  50% {
    background: rgb(186, 220, 223);
  }
  100% {
    background: #006ba1;
  }
}
@-webkit-keyframes blink {
  0% {
    background: rgb(122, 107, 122);
  }
  25% {
    background: rgb(162, 130, 238);
  }
  50% {
    background: rgb(186, 220, 223);
  }
  100% {
    background: #006ba1;
  }
}
#body2 {
 
  padding: 2em 7em;
}
#tableright {
  margin-left: 15em;
}

.advertise {
  margin: auto 15em;
}

#table {
  width: 1000px;
  text-align: center;
}

.table2 {
  width: 1000px;
  margin: auto 150px;
}
.end {
  margin: auto 450px;
}
.infortext {
  background-color: rgb(122, 122, 247);
}
#nutbacktotop {
  transition-duration: 2s;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 2000;
  
}
html {
  scroll-behavior:smooth;
 
  
}

.icon {
  padding: 0em 5em;
  margin: 50px auto;
}
#canvas {
  
  margin: 0px auto;
  padding: 0px auto;
  background-color: rgb(78, 74, 74);
}
#cat {
  top: 27.5em;
  left: 2.5em;
  color: black;

  position: absolute;
}
#dog {
  top: 27.5em;
  left: 6.8em;
  color: black;

  position: absolute;
}
#bird {
  top: 27.5em;
  left: 10.7em;
  color: black;

  position: absolute;
}
#tele {
  top: 27.5em;
  left: 15em;
  color: black;

  position: absolute;
}
#card {
  top: 27.5em;
  left: 18.7em;
  color: black;

  position: absolute;
}
#infoTable {
  width: 75em;
  text-align: center;
  font-size: 18px;
}
.infor {
  display: flex;
  justify-content: center;
}
a {
  color: rgb(171, 187, 133);
}
.container {
  max-width: 1300px;
  margin: 0px auto;
}

.row {
  width: 100%;
  display: block;
}

.card {
  width: 19%;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 2px;
  float: left;
}

.card-heard {
  font-weight: 600;
  background-color: gray;
  margin-bottom: 2px;
  padding: 5px;
}

.card-body {
  height: 150px;
}
.card-footer {
  background-color: gray;
  margin-top: 5px;
  padding: 10px ;
  text-align: center;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.buybutton {
  height: 3em;
  width: 8em;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  background-color: green;
}


  


.buybutton:hover {
  background-color: rgb(115, 250, 121);
}

@media (max-width: 375px) {
  .card {
    width: 45%;
  }
}
.radio{
  height: 9.5em;
  margin-left: 3em;
  transition: 1.5s;


  
}
.radio:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5); 
}