*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}
.header {
  max-height: 156px;
  background-color: antiquewhite;
  max-width: 100%;
}
.icon-header {
  float: right;
  position: fixed;
  right: 10%;
  top: 10%;
}
.button-header {
  float: right;
  position: fixed;
  right: 30%;
  top: 18%;
}
.introbutton {
  border: none;
  color: white;

  text-align: center;

  font-size: 16px;
  height: 50px;
  width: 190px;
  background-color: burlywood;
  border-radius: 16px;
}
